body{
    font-family: Roboto;
    background-color: rgb(245, 147, 81);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    background-color: rgb(26, 22, 22);
    width: 500px;

    color: aliceblue;
    /* margin-top: 200px; */
    padding: 40px;
    box-shadow: 10px 10px 25px #00000080;
    text-align: center;
}
.login input{
    display: block;
    margin:20px auto;
    text-align: center;
    background: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 22px;
    outline: none;
    color: wheat;
}

.login input[type="text"], .login input[type="password"]{
    border: 2px solid rgb(108, 106, 218);
    width: 220px;
}

.login input[type="submit"]{
    width: 150px;
    border: 2px solid rgb(127, 228, 157);
    cursor: pointer;
}

.login input[type="text"]:focus, .login input[type="password"]:focus {
    border-color: turquoise;
    width: 280px;
    transition: 0.6s;
}

.login input[type="submit"]:hover{
    background-color: rgb(135, 228, 117);
    transition: 0.2s;
}